<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('src')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
		'@Symfony' => true,
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
	->setIndent("\t")
    ->setLineEnding("\r\n")
    ->setFinder($finder)
;